[package]
name = "cargo_metadata"
version = "0.9.1"
authors = ["Oliver Schneider <git-spam-no-reply9815368754983@oli-obk.de>"]
repository = "https://github.com/oli-obk/cargo_metadata"
description = "structured access to the output of `cargo metadata`"
license = "MIT"
readme = "README.md"

[dependencies]
serde = "1.0.79"
serde_derive = "1.0.79"
serde_json = "1.0.1"

[dependencies.semver]
features = ["serde"]
version = "0.9"

[features]
default = []

[package.metadata.cargo_metadata_test]
some_field = true
other_field = "foo"
