[package]
name = "cargo_metadata"
version = "0.3.0"
authors = ["Oliver Schneider <git-spam-no-reply9815368754983@oli-obk.de>"]
repository = "https://github.com/oli-obk/cargo_metadata"
description = "structured access to the output of `cargo metadata`"
license = "MIT"
readme = "README.md"

[dependencies]
error-chain = "0.11.0"
serde = "1.0.2"
serde_derive = "1.0.2"
serde_json = "1.0.1"

[dependencies.semver]
features = ["serde"]
version = "0.8"

[dev-dependencies]
clap = "2.26.0"
docopt = "0.8.1"
